.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
font: bold 24px/31px pt_serif,arial,helvetica,sans-serif;
}

.logo__circle{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
  font: normal 18px/21px Roboto, serif;
}

.menu__item:last-child {
  padding-right: 318px 0;
}

.main-section {
  display: flex;
  justify-content: space-between;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-content__title {
  width: 567px;
  height: 255px;
  margin-bottom: 40px;
  margin-right: 191px;
  font: bold 66px/87px pt_serif,serif;
}

.main-content__description {
  width: 455px;
  height: 52px;
  margin-right: 303px;
  margin-bottom: 41px;
  font: normal 22px/26px Roboto, serif;
}

.main-content__button {
  width: 250px;
  height: 29px;
  margin-right: 486px;
  margin-bottom: 317px;
  font: normal 18px/21px Roboto, serif;
  background: #0056ec;
  color: white;
  border-radius: 4px;
}

.image-content {
  width: 770px;
  height: 657px;
  margin-bottom: 181px;
}
